.header {
  background-color: transparent;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
  align-items: center;

  align-content: stretch;
}

.header-nav {
  display: flex;
  flex: 1 0 0%;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }
}

.header-nav-list {
  display: flex;
  align-items: center;
  column-gap: 75px;
}

.header-nav-item {
  display: inline-flex;
}

.header-logo {
  padding: 20px 0;

  a {
    display: inline-block;
    line-height: 0;
  }

  a img {
    max-width: 100px;
  }
}

.mfs-logo {
  border-radius: 50%;
  /* height: 30em; */
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #646cffaa);
  animation: fadeOut 3s forwards;
}

.mfs-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.linkedin-logo {
  height: 5em;
}

.m-fullwidth {
  width: 80%;
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
